:root {
    --Color-primary: #27AE60;
    --Color-secondary: #EB5757;

    --gray-600: #333333;
    --grey-300: #828282;
    --grey-100: #e0e0e0 ;
    --grey-0: #f5f5f5;
}

.small-button {
    display: inline-flex;
    height: 40px;
    padding: 0px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 8px;
}

.large-button {
    display: inline-flex;
    height: 60px;
    padding: 0px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 8px;
}

#hidden {
    display: none;
}