@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Nunito&family=Pacifico&family=Poppins&display=swap');

.Heading1 {
    font-size: 26px;
    font-weight: bold;
}

.Heading2 {
    font-size: 22px;
    font-weight: bold;
}

.Heading3 {
    font-size: 18px;
    font-weight: bold;
}

.Headline {
    font-size: 16px;
    font-weight: normal;
}

body {
    font-size: 14px;
    font-weight: normal;
}

.body-600 {
    font-size: 14px;
    font-weight: 600;
}

.caption {
    font-size: 12px;
    font-weight: normal;
}